<nav class="absolute top-0 left-0 w-full z-10"
     [ngClass]="{
     'bg-white': isActiveRoute('/auth'),
     'bg-black': isActiveRoute('/search') ||
                 isActiveRoute('/booking') ||
                 isActiveRoute('/my-bookings') ||
                  isActiveRoute('/complaints') ||
                  isActiveRoute('/thank-you')
     }"
>
  <div class="container mx-auto flex items-center justify-between py-1">
    <!-- Logo and Links -->
    <div class="flex w-full justify-between md:w-fit items-center space-x-4">
      <div class="flex items-center space-x-4">
        <a href="/" class="text-2xl flex items-center font-bold space-x-1"
           [ngClass]="isActiveRoute('/auth')
              ? 'text-black' : 'text-white'"

        >

          <img [src]="isActiveRoute('/auth')
                      ? './assets/logo-black.png' : './assets/logo.png'"
               alt="logo"
               class="w-20 h-auto">
          <h1 class="-left-4 text-3xl relative"
              [ngClass]="isActiveRoute('/auth') ? 'text-black' : 'text-white'">
            Travella</h1>
        </a>

      </div>


      <!-- Nav Links -->
      <div *ngIf="isAuth" class="hidden lg:flex space-x-4 p-2 text-[1.1rem]"
           [ngClass]="isActiveRoute('/auth')
                      ? 'text-black' : 'text-white'"
      >
        <a routerLink="/my-bookings"
           routerLinkActive="after:scale-x-100"
           class="relative w-fit block after:block after:content-[''] after:absolute after:h-[2px]
           after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition
           after:duration-300 after:origin-center">My bookings</a>

        <!--
                <a routerLink="/complaints"
                   routerLinkActive="after:scale-x-100"
                   class="relative w-fit block after:block after:content-[''] after:absolute after:h-[2px]
                   after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition
                   after:duration-300 after:origin-center">Complaints</a>
        -->


        <a routerLink="/routes"
           routerLinkActive="after:scale-x-100"
           class="relative w-fit block after:block after:content-[''] after:absolute after:h-[2px]
           after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition
           after:duration-300 after:origin-center">Saved Routes</a>

      </div>

      <div *ngIf="!isAuth" class="hidden lg:flex space-x-4"
           [ngClass]="isActiveRoute('/auth')
                      ? 'text-black' : 'text-white'">

        <a href="#" class="hover:text-gray-300">Top routes</a>
        <a href="#" class="hover:text-gray-300">Saved Routes</a>
      </div>
    </div>


    <!-- Hamburger menu(mobile and tablets)-->
    <div class="lg:hidden">

      <button id="menu-toggle" (click)="toggleMenu()"
              class="focus:outline-none
                transition-transform duration-300"
              [ngClass]="isActiveRoute('/auth')
                ? 'text-black' : 'text-white'"
      >
        <svg class="w-8 h-8 z-50 relative transform transition-transform"
             [ngClass]="{
               'rotate-45': menuOpen, '-rotate-0': !menuOpen
               }"
             fill="none" stroke="currentColor"
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path *ngIf="!menuOpen" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
          <path *ngIf="menuOpen" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </button>
    </div>

    <!-- Search bar and Right Side Links -->
    <div class="hidden lg:flex relative">

      <input
        type="text"
        [(ngModel)]="searchQuery"
        (input)="onSearchChange()"
        placeholder="Search destination..."
        class="py-2  pl-3 pr-28  bg-opacity-45
          focus:outline-none rounded-sm
          focus:ring-2 focus:ring-blue-400"
        [ngClass]="isActiveRoute('/auth')
                ? 'bg-white border-2 text-black placeholder-black'
                : 'bg-gray-400 text-white'"
      />
      <button
        class="absolute right-4 top-1/2
            transform -translate-y-1/2"
        [ngClass]="isActiveRoute('/auth')
                ? 'text-black'
                : 'text-white'"
      >

        <img src="./assets/icons/search.svg" class="w-8"/>
      </button>


      <div class="absolute top-full mt-2 w-full bg-white shadow-lg rounded-sm">
        <div
          *ngIf="searchQuery && (filteredCities | async)!.length > 0; else noResults"
          class="absolute top-full mt-2 w-full bg-white shadow-lg rounded-sm overscroll-y-auto">
          <ul>
            <li
              *ngFor="let city of (filteredCities | async)"
              (click)="selectCity(city.name)"
              class="px-3 py-2 cursor-pointer hover:bg-blue-100"
            >
              {{ city.name }}
            </li>
          </ul>
        </div>

        <ng-template #noResults>
          <div *ngIf="searchQuery"
               class="absolute top-full mt-2 w-full bg-white shadow-lg rounded-sm p-3 text-gray-500">
            No matching cities found
          </div>
        </ng-template>
      </div>

    </div>


    <!-- Log In and Sign Up -->
    <div class="hidden lg:flex items-center space-x-6 md:mr-5" *ngIf="!isAuth">
      <!-- Language Selector -->

      <change-language></change-language>
      <a routerLink="/auth/login" [ngClass]="isActiveRoute('/auth')
                ? 'text-black' : 'text-white'"
         class="hover:text-gray-300">Log In</a>

      <a routerLink="/auth/register"
         class="py-2 px-4 rounded-md
           hover:bg-gray-300 transition-colors"
         [ngClass]="isActiveRoute('/auth')
                ? 'text-white bg-black' : 'text-black bg-white'"
      >Sign Up</a>
    </div>


    <div *ngIf="isAuth" class="gap-4 items-center hidden lg:flex">
        <change-language></change-language>
      <div class="text-black bg-white rounded-full">

        <ng-container *ngIf="!loading; else loadingSpinner">
          <p-button icon="pi pi-user" [rounded]="true" [text]="true"
                    [raised]="true" severity="info"
                    (click)="onLogOut()"></p-button>
        </ng-container>

        <ng-template #loadingSpinner>
          <div
            class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
            <div
              class="animate-spin w-12 h-12 border-4 border-white border-t-transparent rounded-full"></div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- Mobile Menu (full screen) -->
  <div id="mobile-menu"
       class="fixed inset-0 bg-black bg-opacity-80 z-20 lg:hidden
       transition-all duration-500 ease-in-out flex-col items-center space-y-4 py-4"
       [ngClass]="menuOpen ? 'translate-x-0' : '-translate-x-full'">
    <nav class="flex flex-col items-center justify-center h-full space-y-6">
      <a href="#" class="text-white text-2xl">Travel</a>
      <a href="#" class="text-white text-2xl">Best Travels</a>
      <a href="#" class="text-white text-2xl">Login</a>
      <button
        class="bg-fuchsia-800 text-white
          rounded-full px-10 py-2 text-2xl">Sign Up
      </button>
    </nav>
  </div>


</nav>

