<div class="mt-8">

  <h2 class="text-3xl">
    Top Routes this mouth (testing no terminado)
  </h2>
  <p class="text-gray-600 text-md text-left">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, alias.
  </p>

  <div class="">
    <p-carousel
      [value]="products"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="false"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-product pTemplate="item">
        <div class="border border-gray-300 rounded m-2 p-3">
          <div class="mb-3">
            <div class="relative mx-auto">
              <img
                src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg"
                [alt]="product.name"
                class="w-full border-round"/>

            </div>
          </div>
          <div class="mb-3 font-medium">
            {{ product.name }}
          </div>
          <div class="flex justify-content-between align-items-center">
            <div class="mt-0 font-semibold text-xl">
              {{ '$' + product.id }}
            </div>
            <span>
                            <p-button icon="pi pi-heart" severity="secondary"
                                      [outlined]="true"/>
                            <p-button icon="pi pi-shopping-cart"
                                      styleClass="ml-2"/>
                        </span>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
