<section
  class="relative h-screen bg-cover
  bg-center md:m-2 rounded font-sans"
  style="background-image: url('./assets/hero.jpg');">
  <!-- Overlay -->
  <div class="absolute inset-0 bg-black bg-opacity-45 rounded"></div>

  <!-- Navbar -->
  <nav-bar class="rounded"></nav-bar>

  <div
    class="absolute inset-0 flex
    items-center text-center z-0 rounded">
    <search-trip [isSearchPage]="false" class="w-full md:absolute bottom-3"/>
  </div>

</section>

<section class="container mt-20 mx-auto w-full">

  <top-routes></top-routes>
  <app-destination-link></app-destination-link>
  <info-landig></info-landig>
</section>

<app-footer></app-footer>
