<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6 p-6">
  <!-- Card 1: Orders -->
  <div class="bg-white border rounded-lg p-6 flex justify-between items-center">
    <div>
      <h3 class="text-gray-600 font-medium">Orders</h3>
      <p class="text-gray-900 text-xl">{{ ordersCount | number }}</p>
    </div>
    <div class="w-12 h-12 flex items-center justify-center bg-blue-100 rounded">
      <i class="pi pi-shopping-cart text-blue-500 text-2xl"></i>
    </div>
  </div>

  <!-- Card 2: Revenue -->
  <div class="bg-white border rounded-lg p-6 flex justify-between items-center">
    <div>
      <h3 class="text-gray-600 font-medium">Revenue</h3>
      <p class="text-gray-900 text-xl ">{{ revenue | currency }}</p>
    </div>
    <div
      class="w-12 h-12 flex items-center justify-center bg-orange-100 rounded">
      <i class="pi pi-map-marker text-orange-500 text-2xl"></i>
    </div>
  </div>

  <!-- Card 3: Customers -->
  <div class="bg-white border rounded-lg p-6 flex justify-between items-center">
    <div>
      <h3 class="text-gray-600 font-medium">Customers</h3>
      <p class="text-gray-900 text-xl ">{{ customersCount }}</p>
    </div>
    <div class="w-12 h-12 flex items-center justify-center bg-cyan-100 rounded">
      <i class="pi pi-inbox text-cyan-500 text-2xl"></i>
    </div>
  </div>

  <!-- Card 4: Comments -->
  <div class="bg-white border rounded-lg p-6 flex justify-between items-center">
    <div>
      <h3 class="text-gray-600 font-medium">Complaints</h3>
      <p class="text-gray-900 text-xl">{{complaintsCount}}</p>
    </div>
    <div
      class="w-12 h-12 flex items-center justify-center bg-purple-100 rounded">
      <i class="pi pi-comment text-purple-500 text-2xl"></i>
    </div>
  </div>
</div>



<!-- Recent Tickets Section -->







<!-- Recent Sales Section -->
<div class="grid grid-cols-1 xl:grid-cols-2 gap-6 p-6">

  <div class="bg-white border rounded-lg p-6">
    <h4 class="text-lg font-bold mb-4">Recent Tickets</h4>

    <p-table [value]="recentTickets" [paginator]="true" [rows]="5" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr class="bg-gray-100 text-gray-700 uppercase text-sm leading-normal">
          <th class="py-3 px-6 border border-gray-300">Passenger Name</th>
          <th class="py-3 px-6 border border-gray-300">Route</th>
          <th class="py-3 px-6 border border-gray-300">Status</th>
          <th class="py-3 px-6 border border-gray-300">Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticket>
        <tr class="hover:bg-gray-200 border-t border-gray-300">
          <td class="border border-gray-300">
            {{ ticket.user?.fullName || 'Guest' }}
          </td>
          <td class=" border border-gray-300">
            {{ ticket.trip?.route?.origin?.name }} →
            {{ ticket.trip?.route?.destination?.name }}
          </td>
          <td class="border border-gray-300">
            <span
              [ngClass]="{
                'text-green-500 font-semibold': ticket.status?.name === 'Boarded',
                'text-yellow-500 font-semibold': ticket.status?.name === 'Pending',
                'text-red-500 font-semibold': ticket.status?.name === 'Cancelled'
              }"
            >
              {{ ticket.status?.name }}
            </span>
          <td class=" border border-gray-300">
            {{ ticket.purchaseTime | date: 'short' }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>


  <!-- Sales Overview Chart -->
  <div class="bg-white border rounded-lg p-6 w-full">
    <h4 class="text-lg font-bold mb-4">Sales Overview</h4>

    <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
  </div>
</div>

<!--
&lt;!&ndash; Notifications &ndash;&gt;
<div class="grid grid-cols-1 xl:grid-cols-2 gap-6 p-6">
  <div class="bg-white border rounded-lg p-6">
    <h4 class="text-lg font-bold mb-4">Notifications</h4>
    <ul class="divide-y">
      <li class="py-4 flex items-center">
        <div
          class="w-10 h-10 bg-blue-100 rounded-full flex items-center justify-center">
          <i class="pi pi-dollar text-blue-500 text-xl"></i>
        </div>
        <div class="ml-4">
          <p class="text-gray-700">Richard purchased a blue t-shirt for <span
            class="text-blue-500">$79</span>.</p>
        </div>
      </li>
      <li class="py-4 flex items-center">
        <div
          class="w-10 h-10 bg-blue-100 rounded-full flex items-center justify-center">
          <i class="pi pi-dollar text-blue-500 text-xl"></i>
        </div>
        <div class="ml-4">
          <p class="text-gray-700">Richard purchased a blue t-shirt for <span
            class="text-blue-500">$79</span>.</p>
        </div>
      </li>

      <li class="py-4 flex items-center">
        <div
          class="w-10 h-10 bg-blue-100 rounded-full flex items-center justify-center">
          <i class="pi pi-dollar text-blue-500 text-xl"></i>
        </div>
        <div class="ml-4">
          <p class="text-gray-700">Richard purchased a blue t-shirt for <span
            class="text-blue-500">$79</span>.</p>
        </div>
      </li>


      <li class="py-4 flex items-center">
        <div
          class="w-10 h-10 bg-blue-100 rounded-full flex items-center justify-center">
          <i class="pi pi-dollar text-blue-500 text-xl"></i>
        </div>
        <div class="ml-4">
          <p class="text-gray-700">Richard purchased a blue t-shirt for <span
            class="text-blue-500">$79</span>.</p>
        </div>
      </li>

    </ul>
  </div>
-->


