<nav-bar></nav-bar>

<div class="container mx-auto px-4 py-20 mt-20 flex gap-6">
  <!-- Panel de Filtros -->
    <app-sidebar-filters></app-sidebar-filters>

  <!-- Lista de Resultados -->
  <main class="w-3/4">
    <div *ngIf="loading" class="text-center text-gray-500">Cargando resultados...</div>

    <div *ngIf="error" class="text-center text-red-500">{{ error }}</div>

    <div *ngIf="!loading && trips.length > 0" class="grid gap-6 mx-auto max-h-[400px] max-w-[500px] overflow-y-auto">
      <app-search-details
        *ngFor="let trip of trips"
        [originCity]="trip.route.origin.name"
        [destinationCity]="trip.route.destination.name"
        [departureTime]="trip.departureTime"
        [arrivalTime]="trip.arrivalTime"
        [price]="trip.price.toString()"
      ></app-search-details>
    </div>

    <div *ngIf="!loading && trips.length === 0" class="text-center text-gray-500">
      No se encontraron resultados para tu búsqueda.
    </div>
  </main>
</div>


<app-footer></app-footer>
