<nav-bar></nav-bar>

<div class="container bg-gray-200 mx-auto px-4 py-20 mt-20 flex flex-col lg:flex-row gap-6">
  <!-- Sidebar Filters -->
  <div class="w-full lg:w-1/4">
    <app-filters-skeleton *ngIf="loading"></app-filters-skeleton>
    <app-sidebar-filters *ngIf="!loading"></app-sidebar-filters>
  </div>

  <!-- Trip Results -->
  <main class="w-full lg:w-3/4">
    <div *ngIf="loading" class="grid gap-6">
      <app-trip-skeleton *ngFor="let _ of [1, 2, 3]"></app-trip-skeleton>
    </div>

    <div *ngIf="error" class="text-center text-red-500">{{ error }}</div>

    <div *ngIf="!loading && trips.length > 0" class="grid gap-6 mx-auto overflow-y-auto">
      <app-search-details
        *ngFor="let trip of trips"
        [originCity]="trip.route.origin.name"
        [codeOrigin]="trip.route.origin.code"
        [stateOrigin]="trip.route.origin.state"
        [destinationCity]="trip.route.destination.name"
        [codeDestination]="trip.route.destination.code"
        [stateDestination]="trip.route.destination.state"
        [departureTime]="trip.departureTime"
        [arrivalTime]="trip.arrivalTime"
        [price]="trip.price.toString()"
      ></app-search-details>
    </div>

    <div *ngIf="!loading && trips.length === 0" class="text-center text-gray-500">
      No se encontraron resultados para tu búsqueda.
    </div>
  </main>
</div>

<app-footer></app-footer>
