<nav-bar></nav-bar>
<!--
<app-mini-search></app-mini-search>
-->
<search-trip [isSearchPage]="true"></search-trip>
<div
  class="container bg-gray-200 min-h-screen mx-auto px-4 py-10 flex flex-col lg:flex-row gap-6">


  <!-- Sidebar Filters -->
  <div class="w-full lg:w-1/4">
    <app-filters-skeleton *ngIf="loading"></app-filters-skeleton>
    <app-sidebar-filters *ngIf="!loading"></app-sidebar-filters>
  </div>

  <!-- Trip Results -->
  <main class="w-full lg:w-3/4">
    <div *ngIf="loading" class="grid gap-6">
      <app-trip-skeleton *ngFor="let _ of [1, 2, 3]"></app-trip-skeleton>
    </div>

    <div *ngIf="error" class="text-center text-red-500">{{ error }}</div>

    <div *ngIf="!loading && trips.length > 0"
         class="grid gap-6 mx-auto overflow-y-auto">

      <app-search-details
        *ngFor="let trip of paginatedTrips"
        [trip]="trip"
        (book)="handleBooking($event)"
        [originCity]="trip.route.origin.name"
        [codeOrigin]="trip.route.origin.code"
        [stateOrigin]="trip.route.origin.state"
        [destinationCity]="trip.route.destination.name"
        [codeDestination]="trip.route.destination.code"
        [stateDestination]="trip.route.destination.state"
        [departureTime]="trip.departureTime"
        [arrivalTime]="trip.arrivalTime"
        [price]="trip.price.toString()"
      ></app-search-details>

      <p-paginator
        [first]="first ? first : 0"
        [rows]="rows ? rows : 0"
        (onPageChange)="onPageChange($event)"
        [totalRecords]="trips.length"
        [showCurrentPageReport]="true"
        [showPageLinks]="false"
        [showJumpToPageDropdown]="false"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"/>
    </div>

    <div *ngIf="!loading && trips.length === 0"
         class="text-center flex justify-center items-center h-full text-gray-500">
      <p>No se encontraron resultados para tu búsqueda.</p>
    </div>
  </main>
</div>

<app-footer></app-footer>
