<footer class="bg-black text-white py-8 bottom-0 ">
  <div
    class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-8 px-4 md:px-0">

    <!-- Logo and Mission Statement -->
    <div>
      <h2 class="font-bold text-xl mb-2">Horizone</h2>
      <p class="text-gray-400 text-sm">
        Our mission is to equip modern explorers with cutting-edge, functional,
        and stylish bags that elevate every adventure.
      </p>
      <p class="text-gray-500 text-xs mt-4">©2024 Horizone. All rights
        reserved.</p>
    </div>

    <!-- About Links -->
    <div>
      <h3 class="font-semibold text-lg mb-2">About</h3>
      <ul class="space-y-2 text-gray-400">
        <li><a href="#" class="hover:text-gray-200">About Us</a></li>
        <li><a href="#" class="hover:text-gray-200">Blog</a></li>
        <li><a href="#" class="hover:text-gray-200">Career</a></li>
      </ul>
    </div>

    <!-- Support Links -->
    <div>
      <h3 class="font-semibold text-lg mb-2">Support</h3>
      <ul class="space-y-2 text-gray-400">
        <li><a href="#" class="hover:text-gray-200">Contact Us</a></li>
        <li><a href="#" class="hover:text-gray-200">Return</a></li>
        <li><a href="#" class="hover:text-gray-200">FAQ</a></li>
      </ul>
    </div>

    <!-- Get Updates -->
    <div>
      <h3 class="font-semibold text-lg mb-2">Get Updates</h3>
      <div class="flex space-x-2 mb-4">
        <input type="email" placeholder="Enter your email"
               class="p-2 rounded bg-gray-700 text-gray-200 w-full focus:outline-none focus:ring-2 focus:ring-gray-500">
        <button class="bg-white text-black px-4 py-2 rounded hover:bg-gray-200">
          Subscribe
        </button>
      </div>

      <!-- Social Icons -->
      <div class="flex space-x-4 mt-4">
        <a href="#"
           class="text-white rounded-full transition-colors
           bg-gray-800 hover:bg-gray-500">
          <i class="pi pi-instagram p-4"></i>
        </a>
        <a href="#"
           class="text-white rounded-full transition-colors
           bg-gray-800 hover:bg-gray-500">
          <i class="pi pi-facebook p-4"></i>
        </a>

        <a href="#"
           class="text-white rounded-full transition-colors
          bg-gray-800 hover:bg-gray-500">
          <i class="pi pi-tiktok p-4"></i>
        </a>

        <a href="#"
           class="text-white rounded-full transition-colors
           bg-gray-800 hover:bg-gray-500">
          <i class="pi pi-twitter p-4"></i>
        </a>

      </div>
    </div>

  </div>

  <!-- Bottom Links -->
  <div
    class="container mx-auto text-gray-400 text-sm flex justify-between mt-6 px-4 md:px-0">
    <a href="#" class="hover:text-gray-200">Privacy Policy</a>
    <a href="#" class="hover:text-gray-200">Terms of Service</a>
  </div>
</footer>
