<div *ngIf="isPopupVisible"
     @fadeInOut
     class="absolute top-full mt-2 left-0 w-full z-20
           p-3 bg-white border border-gray-300 rounded-md shadow-lg">
  <ul class="text-sm text-gray-700">
    <li [class.text-green-500]="passwordValidLength"
        class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="w-4 h-4 mr-2 text-green-500" viewBox="0 0 20 20"
           fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd"
              d="M10 18a8 8 0 110-16 8 8 0 010 16zm-1-5h2V7h-2v6zm0-8h2V3h-2v2z"
              clip-rule="evenodd"/>
      </svg>
      At least 8 characters
    </li>
    <li [class.text-green-500]="passwordHasNumber"
        class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="w-4 h-4 mr-2 text-green-500" viewBox="0 0 20 20"
           fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd"
              d="M10 18a8 8 0 110-16 8 8 0 010 16zm-1-5h2V7h-2v6zm0-8h2V3h-2v2z"
              clip-rule="evenodd"/>
      </svg>
      Includes a number
    </li>
    <li [class.text-green-500]="passwordHasLowerCase"
        class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="w-4 h-4 mr-2 text-green-500" viewBox="0 0 20 20"
           fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd"
              d="M10 18a8 8 0 110-16 8 8 0 010 16zm-1-5h2V7h-2v6zm0-8h2V3h-2v2z"
              clip-rule="evenodd"/>
      </svg>
      Includes an lowercase letter
    </li>
    <li [class.text-green-500]="passwordHasUpperCase"
        class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="w-4 h-4 mr-2 text-green-500" viewBox="0 0 20 20"
           fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd"
              d="M10 18a8 8 0 110-16 8 8 0 010 16zm-1-5h2V7h-2v6zm0-8h2V3h-2v2z"
              clip-rule="evenodd"/>
      </svg>
      Includes an uppercase letter
    </li>
    <li [class.text-green-500]="passwordHasSpecialChar"
        class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="w-4 h-4 mr-2 text-green-500" viewBox="0 0 20 20"
           fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd"
              d="M10 18a8 8 0 110-16 8 8 0 010 16zm-1-5h2V7h-2v6zm0-8h2V3h-2v2z"
              clip-rule="evenodd"/>
      </svg>
      Includes a special character
    </li>
  </ul>
</div>
