<div class="seat-map flex flex-col items-center space-y-4">

  <h2 class="text-2xl font-bold mb-4">Select your seat</h2>
  <!-- Seat Map Grid -->
  <div class="grid grid-cols-4 gap-4 max-h-96 overflow-y-scroll bg-gray-200 rounded-md p-3">
    <div
      *ngFor="let seat of currentSeats"
      [ngClass]="{
        'bg-green-100 hover:bg-green-200 cursor-pointer': seat.status === 'available',
        'bg-red-600 cursor-not-allowed': seat.status === 'reserved',
        'bg-green-400 text-white': seat.status === 'selected'
      }"
      class="w-12 h-12 flex items-center justify-center
       border rounded-full shadow-md transition-colors"
      (click)="selectSeat(seat)"
    >

      <img src="/assets/icons/seat.svg">
    </div>
  </div>

  <!-- Selected Seat -->
  <div *ngIf="selectedSeat" class="flex items-center space-x-4">
    <span class="text-lg font-bold">Selected Seat:</span>
    <div
      [ngClass]="{
        'bg-green-400 text-white': selectedSeat.status === 'selected'
      }"
      class="w-12 h-12 flex items-center justify-center
       border rounded-full shadow-md transition-colors"
    >
      <span>{{ selectedSeat.number }}</span>
    </div>

  </div>
