/* You can add global styles to this file, and also import other style files */

/*
@import "src/app/assets/layout/styles/layout/layout.css";
*/

@import "assets/layout/styles/layout/layout.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.min.css";
@import "primeicons/primeicons.css";


@tailwind base;
@tailwind components;
@tailwind utilities;


.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
  color: white;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
  color: white;
}

:root {
  font-size: 15px; /* Ajusta el tamaño global */
}

body {
  font-size: 1.1rem; /* Aumenta el tamaño del texto general */
}

.dashboard-class h1 {
  font-size: 2rem;
}
